@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  display: block;
}
body {
  background-color: rgb(246, 248, 252);
  max-height: 100vh;
  white-space: pre-line;
}
input,
button,
textarea,
select {
  font: inherit;
  background-color: inherit;
  outline: none;
}
div {
  white-space: pre-wrap;
}

.pa{
  white-space: pre;
}